<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My web pate</title>
</head>
<body>
    <footer>
        <!-- Navigation -->
        <nav>
            <a href="about/">About</a>
            <a href="/contact-us/">Coutact us</a>
            <a href="about/">Store</a>
        </nav>
    </footer>
    <main>
        <h1>My web site</h1>
        <h2>Welcom to my website!!</h2>
        <p>This sentence is wrapped in a &lt;p&gt; tag.<br> p tag is used to define a paragraph of text on a webpage</p>
        <img src="{{url_for('static', filename='cat.jpg')}}" alt="cat.img">
    </main>
</body>
</html>